body{
    margin-left: 240px;
    margin-right: 240px;
    display: flex;
    
}



h1 {
    text-align: center;
}

.calculator-outline{
    background-color: grey;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;

}

    .screen{
    background-color: black;
    color: lightgreen;
    font-size: 50px;
    padding: 20px;
    text-align: right;
    min-height: 58px;
    }

    .input{
        display: flex;
        gap: 3px;
        justify-content: space-evenly;
        align-items: center;
    }

            .button{
            background-color: rgb(179, 179, 179);
            color: black;
            font-size: 36px;
            margin: 8px;
            padding: 20px 20px;
            border-color: black;
            border-style: inset;
            border-width: 3px;
            
            
            }

            .button.operator{
                width: 100%;
            }

            .button.otherOperator{
                width: 40%;
            }

            .button:hover{
                background-color: rgb(59, 59, 59);
                color: white;
            }

        .send{

        }

.calc-button{
    background-color: lightgray;
    color: black;
    text-align: center;
    border: 1mm ridge black;
}